.logo{
  width: 50px;
}


.navbar-custom{
  background-color: rgb(255, 234, 214)
}

.dropdown-menu{
  background-color: rgb(255, 234, 214);
}

.dropdown-item:hover{
  background-color: rgb(250, 209, 171);
  transition: background-color 0.5s ease;
}
