/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

body{
  padding-top: 75px;
  box-sizing: border-box;
  background-color: rgb(241, 229, 217);
}

input{
  height: 3rem;
}


